.stock-card-container {
    width: 21.375rem;
    height: 13.8125rem;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 4px;
    border-left: solid var(--positive-variation-color) 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stock-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stock-info-container h2, p {
    margin: 0;
}

.stock-info-container h2 {
    color: var(--text-color);
}

.stock-info-container p {
    font-weight: 500;
    color: var(--text-color-light);
    font-size: 0.875rem;
}

.stock-value-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.stock-value-container .value {
    font-size: 3rem;
    color: var(--text-color);
}

.stock-value-container .variation {
    background-color: var(--positive-variation-color);
    color: var(--variation-color);
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    align-self: flex-end;
    margin-top: 0.25rem;
    font-size: 0.875rem;
}